* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	list-style-type: none;
	box-sizing: border-box;
}

.content-container {
	background: #CCC;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.flex-container {
	margin: 10px;
}

