header {
	border-top: 4px solid #ff6631;
	background: url("images/bg_header.jpg") no-repeat;
	padding-bottom: 20px;
	float: left;
	width: 100%;
}

/* Selected Menu */

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.selected-menu {
	background: rgba(0,0,0,0.95);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
}

.selected-menu ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

.selected-menu .wrapper {
	width: 300px;
	margin: 70px auto 0 auto;
}

.wrapper .item {
	font-size: 40px;
	padding: 4px 0 0 0;
	cursor: pointer;
}

.wrapper .item a {
	color: #FFF;
	text-decoration: none;
	display: block;
}

.selected-menu .wrapper .item a:hover {
	background: #ff6631;
}

.wrapper .item .line {
	border-top: 1px solid #ff6631;
	margin-top: 5px;
}

.selected-menu .wrapper .language-container {
	border: 1px solid #6a6a6a;
	margin: 40px auto 0 auto;
	background: #424142;
	padding: 10px;
	width: 80%;
}

.selected-menu .wrapper .language-container span {
	color: #FFF;
	font-size: 22px;
	padding-left: 10px;
	vertical-align: top;
}

.wrapper .language-container .flag {
	background: #212121;
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

.wrapper .language-container .flag:hover {
	background: #303030;
}

.language-container .flag span {
	width: 20px;
	height: 20px;
	display: block;
	margin: 7px auto 0 auto;
	background: url("images/flags.jpg");
	background-position: -38px;
}

.selected-menu .wrapper .ofers {
	text-align: center;
	padding-top: 20px;
}

.selected-menu .wrapper .ofers span {
	font-size: 20px;
	color: #a9a9a9;
	display: block;
	cursor: pointer;
	padding: 8px;
}

.selected-menu .wrapper .ofers span:hover {
	text-decoration: underline;
	color: #FFF;
}

/* Menu Container */

.menu-container {
	padding-top: 45px;
}

.menu-wrapper {
	cursor: pointer;
	margin: 3px 0 0 40px;
	display: inline-block;
}

.menu-wrapper .menu-box {
	border: 1px solid #ff6631;
	height: 50px;
	width: 50px;
}

.menu-wrapper:hover .menu-box {
	border-color: #FFF;
}

.menu-wrapper:hover .menu-box span {
	border-color: #FFF;
}

.menu-wrapper:hover .menu-title span {
	color: #FFF;
}

.menu-wrapper .menu-box span {
	border-top: 4px solid #ff6631;
	margin: 9px auto 0 auto;
	width: 34px;
	display: block;
}

.menu-wrapper .menu-title {
	text-align: center;
	width: 50px;
}

.menu-wrapper .menu-title span {
	color: #ff6631;
	font-size: 11px;
	font-family: sans-serif;
}

/* Logo Container */

.logo-container {
	padding-top: 20px;
}

.logo-wrapper img {
	cursor: pointer;
}

/* Social Media */

.social {
	padding-top: 45px;
}

.social-wrapper img {
	height: 40px;
	width: 40px;
	background: #ff6631;
	cursor: pointer;
}

/* Main */

.main-wrapper {
	margin-top: 10px;
	float: left;
	width: 100%;
}

/* Games Containers */

.main-wrapper .dofus-container {
	background: url("images/dofus.jpg") no-repeat;
	background-size: cover;
	height: 720px;
}

.main-wrapper .wakfu-container {
	background: url("images/wakfu.jpg") no-repeat;
	background-size: cover;
	height: 474px;
	margin-top: 10px;
}

.main-wrapper .krosmaga-container {
	background: url("images/krosmaga.jpg") no-repeat;
	background-size: cover;
	height: 474px;
	margin-top: 10px;
}

.main-wrapper .dofustouch-container {
	background: url("images/dofustouch.jpg") no-repeat;
	background-size: cover;
	height: 436px;
	margin-top: 10px;
}

.main-wrapper .abraca-container {
	background: url("images/abraca.jpg") no-repeat;
	background-size: cover;
	height: 436px;
	margin-top: 10px;
}

.main-wrapper .krosmasterarena-container {
	background: url("images/arena.jpg") no-repeat;
	background-size: cover;
	height: 474px;
	margin-top: 10px;
}

.main-wrapper .tactilewars-container {
	background: url("images/tactilewars.jpg") no-repeat;
	background-size: cover;
	height: 436px;
	margin-top: 10px;
}

.main-wrapper .kwann-container {
	background: url("images/kwaan.jpg") no-repeat;
	background-size: cover;
	height: 436px;
	margin-top: 10px;
}

.main-wrapper .kingtongue-container {
	background: url("images/king.jpg") no-repeat;
	background-size: cover;
	height: 474px;
	margin-top: 10px;
}

.main-wrapper .wakfuraiders-container {
	background: url("images/wakfuraider.jpg") no-repeat;
	background-size: cover;
	height: 474px;
	margin-top: 10px;
}

.main-wrapper .dofusbattles-container {
	background: url("images/dofusbattles.jpg") no-repeat;
	background-size: cover;
	height: 436px;
	margin-top: 10px;
}

.main-wrapper .fly-container {
	background: url("images/fun.jpg") no-repeat;
	background-size: cover;
	height: 436px;
	margin-top: 10px;
}

.main-wrapper .strikerarena-container {
	background: url("images/strikerarena.jpg") no-repeat;
	background-size: cover;
	height: 436px;
	margin-top: 10px;
}

.main-wrapper .islandsofwakfu-container {
	background: url("images/islandsofwakfu.jpg") no-repeat;
	background-size: cover;
	height: 436px;
	margin-top: 10px;
}

.main-wrapper .left {
	padding-left: 0;
}

.main-wrapper .right {
	padding-right: 0;
}

.main-wrapper .description {
	background: rgba(0, 0, 0, 0.5);
	margin-left: 20px;
	margin-top: 80px;
	padding: 0 0 20px 0;
	width: 340px;
	float: left;
}

.platforms span {
	color: #FFF;
	font-size: 12px;
	padding-left: 7px;
}

.platforms .game-type {
	background: #ff6631;
	padding: 4px 5px 7px 5px;
}

.description .title {
	text-align: center;
}

.description .title h3 {
	color: #FFF;
	font-size: 38px;
	font-weight: 600;
}

.description .title img {
	margin-top: -35px;
}

.description .info-container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.description .info-container h5 {
	font-size: 13px;
	color: #FFF;
	line-height: 18px;
	padding-bottom: 10px;
}

.description .info-container h5 span {
	font-weight: 600;
}

.info-container .trailer-container {
	border: 1px solid #ff6631;
	position: relative;
}

.trailer-container {
	background: url("images/earth.jpg") no-repeat;
	background-size: 100%;
	min-height: 130px;
}

.trailer-container .button {
	background: url("images/dots.png");
	height: 60px;
	margin-top: 30px;
	margin-left: 37.333333%;
}

.trailer-container .button img {
	width: 20px;
	padding-top: 13px;
}

.trailer-container:hover {
	box-shadow: 0 0 1px #ccc;
	cursor: pointer;
}

.trailer-container:hover .button {
	-webkit-filter: sepia(100%);
}

.info-container .border-top {
	height: 1px;
	background: rgba(255,255,255,0.1);
}

.info-container .website-button {
	width: 100px;
	margin: 0 auto;
	border: 1px solid #ff6631;
	margin-top: 10px;
}

.website-button .button-wrapper {
	margin: 2px;
}

.website-button .dot {
	background: #ff6631;
	height: 2px;
	width: 2px;
	display: inline-block;
	vertical-align: middle;
}

.website-button .button-descr {
	display: inline-block;
}

.website-button .button-descr h4 {
	color: #ff6631;
	font-size: 13px;
}

.website-button:hover {
	cursor: pointer;
}

.website-button:hover .button-wrapper {
	background: #ff6631;
}

.website-button:hover .dot {
	background: #FFF;
}

.website-button:hover .button-descr h4 {
	color: #FFF;
}

.container-sm .description {
	margin-top: 20px;
	width: 250px;
}

.krosmasterarena-container .description .title h3 {
	line-height: 0.8;
}

.islandsofwakfu-container .description .title h3 {
	line-height: 0.8;
}

/* Footer */

footer {
	background: rgba(0,0,0,0.8);
	margin-top: 10px;
}

.footer-wrapper {
	padding: 25px 0 20px 0;
}

footer .copyright-info {
	padding-top: 15px;
}

footer .copyright-info p {
	font-size: 11px;
	color: #838383;
}

footer .copyright-info span:hover {
	color: #FFF;
	cursor: pointer;
}

footer .logo {
	cursor: pointer;
}

@media (max-width: 992px) {
	.main-wrapper .col-md-4 {
		padding-right: 0;
	}
}
